<div class="movie-info-container">
  <div class="movie-header">
    <h1><%= @movie.title %></h1>
  </div>

  <div class="movie-profile-pic">
    <img src="<%=@movie.image %>" alt="<%=@movie.title %>" />
  </div>

  <div class="movie-description">
    <p>
      <%= @movie.description %>
    </p>
  </div>
</div>

<div class="reviews-container">
  <div class="review-header">
    <h2>Reviews</h2>
  </div>

<% @reviews.each do |review| %>
  <div class="indiv-review-box">

    <div class="review-description">
      <%= review.description %>
    </div>

    <div class="review-author">
      <%= review.reviewer_id %>
    </div>

  </div>
  <% end %>
</div>
