<div class="under-nav-bar">
<%= render 'movieinfo' %>

  <%= link_to 'New Review', new_movie_review_path(@movie) %>

  <div class="reviews-container">
    <div class="review-header">
      <h2>Reviews</h2>
    </div>

  <% sorted_reviews_by_rating.each do |review| %>
    <div class="indiv-review-box">

      <table>
        <tr>
          <td>
            <%= render partial: '/vote_up_down_count', :locals => {:review => review} %>
          </td>

          <td>
            <div>
              <h4 class="review-title"> <%= link_to review.title, movie_review_path(@movie, review) %> </h4>
            </div>
          </td>

          <td>
            <%= render partial: '/users/user_trust_icon', :locals => {:review => review} %>
          </td>
        </tr>
      </table>

      <div class="review-body">
        <%= review.body %>
      </div>

      <div class="review-author">
        Written By: <%= review.reviewer.name %>
      </div>

      <div class="review-score">
        Score: <%= review.score%>/10
      </div>

      <%= link_to "Comment", movie_review_path(@movie, review) %>
    </div>
    <% end %>
  </div>
</div>
