
<div class="user-form">
<%= form_for :user, url: '/users' do |f| %>
<table>
  <tr><td>Name:</td><td><%= f.text_field :name %></td></tr>

  <tr><td>Email:</td><td> <%= f.text_field :email %></td></tr>

  <tr><td>Password:</td><td> <%= f.password_field :password %></td><td><%= f.submit "Submit" %></td></tr>
</table>
<% end %>
</div>
