
<div class='genre-select'>
<%= form_for :movie, :class => "formform", url: genres_search_path do |f| %>
  <%= f.select :genre_name, ["Search by Genre","Action","Comedy","Drama","Fantasy","Romance","Sci-Fi", "Thriller"], :class => "genre-drop", :disabled => "Search by Genre", :selected => "Search by Genre" %></br>
  <%= f.submit "Search", :class => "genre-select-button"%>
<% end %>
</div>
<% @movies.each do |movie| %>
  <div class='movie-image-container'>
    <a href="/movies/<%=movie.id%> "><img src= '<%= movie.image %>' class='movie-image' alt= '<%= movie.title %>' /></a>
    <% link_to "<img src= 'movie.image' class='movie-image' alt= 'movie.title'/>", movie_path(movie) %>
    <div class='movie-score-container'>
      <p><%= image_tag('green_tomato.png', size: "50x50") %> <%= movie.overall_score %>%
        <%= image_tag('killer_tomato_icon.jpeg',size: "50x50") %> <%= movie.killer_score %>%</p>
      </div>
  </div>
<% end %>
