<div class="under-nav-bar">
<%= render '/movies/movieinfo' %>
  <%= render '/errors' %>

  <%= form_for :review, url: movie_reviews_path do |f| %>

  <div>Header:<br> <%= f.text_field :title %></div>

  <div>Score: <%= f.select :score, [1,2,3,4,5] %></div>
  <div><%= f.text_area :body %></div>

  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :reviewer_id, value: current_user.id %>
  <div><%= f.submit "Review" %></div>


<% end %>
</div>
