<div class="voting_buttons">
  <ul id="vote-button-links">

    <li>
      <p>
        <%= link_to like_movie_review_path(@movie, review), method: :put do %>
        	&#x21E7;
        <%= review.get_upvotes.size %>
        <%end  %>
      </p>
    </li>


  <li> <%= review.rating %> </li>

    <li>
      <p>
        <%= link_to dislike_movie_review_path(@movie, review), method: :put do %>
        &#x21E9;
        <%= review.get_downvotes.size %>
        <%end  %>
      </p>

    </li>

</div>
